/*ESTILO GERAL*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #FFF;
    height: 100vh;
}
.interface{
        max-width:1200px;
        margin: 0 auto;
}
.flex{
    display: flex;
}

h2.titulo{
    color: #070F2B;
    font-size: 36px;
    text-align:center;
    margin-top: 80px;

}

h2.titulo span{
    color: #F28585;
}

/* ESTILO DO HEADER */
header{
    padding: 40px 4%;
    margin-bottom: 100px;
    background-color: #fff;
    border-bottom: 2px solid#F28585;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    

}
header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
header a{
    color: #070F2B;
    text-decoration:none;
    display:inline-block;
    
}
header a:hover{
    transform: scale(1.2);
    transition: 250ms;
}

header nav ul{
    list-style-type: none;

}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


header .btn-contato button{
    color: #fff;
    padding: 10px 40px;
    font-size:18px;
    font-weight: 600;
    background-color:#F28585;
    border:0;
    border-radius:30px;
    cursor: pointer;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding:40px 4%;
}

section .topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    text-transform: uppercase;
    font-size:100px;
    background: linear-gradient(45deg,#F28585, #FFA447, #f28c85);
    background-size: 400% 100%;
    animation: degrade 5s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position:400% ;
    }
}
.topo-do-site .txt-topo-site p{
        margin: 40px 0px;
        text-align: justify;
}
section .downloadcv button{
    color: #fff;
    padding: 10px 40px;
    font-size:18px;
    font-weight: 300;
    background-color:#F28585;
    border:0;
    border-radius:30px;
    cursor: pointer;
    transition: 200ms;
}

section .downloadcv button:hover{
    transform: scale(1.05);
}

.topo-do-site .img-topo-site img{
    position:relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

section.especialidades{
    padding:40px 4%;
}

section .especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #070F2B;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: 200ms;
}

.especialidades .especialidades-box i{
    font-size: 70px;
}

.especialidades .especialidades-box h3{
    font-size:28px;
    margin: 15px 0;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #0000005b;
}


/* ESTILO DO SOBRE */

section.sobre{
    padding: 90px 4%;
}

section.sobre .flex{
    align-items:center;
    gap: 60px;
}
.sobre .txt-sobre{
    color: #070F2B;
}
.sobre .txt-sobre h2{
    font-size:40px;
    line-height:40px;
    margin-bottom:30px;
}

.sobre .txt-sobre h2 span{
    color: #F28585;
    display: block;
}
.sobre .txt-sobre p{
    margin:20px 0;
    text-align: justify;
}
.btn-social button{
    width: 60px;
    height: 60px;
    border-radius:50%;
    border: none;
    background-color: #070F2B;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin: 0 6px;
    transition: 200ms;
}
.sobre .txt-sobre .btn-social button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 8px #0000005b;
}
/* ESTILO DO PORTFÓLIO */

section.portfolio{
    padding: 80px 4%;
    box-shadow:0 0 40px 10px #535c913d ;
}
section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}
.img-port{
    width: 360px;
    height: 460px;
    background-color: #535C91;
    background-size: cover;
    background-position: 100% 0%;
    transition: 3s;
    border-radius: 40px;
    cursor: pointer;
    position: relative;

}
.img-port:hover{
    background-position: 0% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b2;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity:0;
    transition: 500ms;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO */

section.formulario{
    padding: 80px 4%;
}
form{
    max-width:500px;
    margin:0 auto;
    display:flex;
    justify-content: center;
    flex-direction:column;
    gap: 10px;
    margin-top:40px;
}

form input, form textarea{
    width: 100%;
    border: 0;
    background-color:#070f2b75;
    outline: 0;
    padding: 20px 15px;
    border-radius:15px;
    color: #FFF;
    font-size:18px;
}

form input::placeholder{
    color: #FFF;
}
form textarea{
    resize: none;
    color:#FFF;
    max-height: 200px;
}
form textarea::placeholder{
    color: #FFF;
}

form .btn-enviar{
    margin-top:20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #F28585;
    font-weight: 700;
    cursor: pointer;
    transition: 200ms;
}

form .btn-enviar input:hover{
    transform: scale(1.1);
    box-shadow: 0 0 8px #0000005b;

}
/* ESTILO DO RODAPÉ */

footer{
    padding: 40px 4%;
    box-shadow:0 0 40px 10px #535c913d ;
}

footer .flex{
    justify-content:space-between;
}
footer .line-footer{
    padding: 20px 0;
}
.borda{
    border-top: 2px solid #070F2B;
}
footer .line-footer p i{
    color: #070F2B;
    font-size: 22px;
}
footer .line-footer p a{
    text-decoration: none;
    color: #070F2B;
}

@media screen and (max-width: 900px) {

    /* CLASSES GERAIS */
    .flex{
        flex-direction:column;
    }
    h2.titulo{
        
        font-size: 33px;
        text-align:center;
        margin-top: 80px;
        line-height: 30px;
    
    }
    /* CABEÇALHO */
    .menu-desktop,.btn-contato{
        display: none;
        
    }
    /* TOPO DO SITE  */

    section .topo-do-site .flex{
        
        gap: 40px;
    }
    section.topo-do-site{
        padding:20px 8%;
    }
    .topo-do-site h1{
        font-size:30px;
        text-align: center;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;

    }

    /*ESPECIALIDADES */

    section.especialidades{
    padding:40px 8%;
    }
    /* SOBRE */
    section.sobre{
        padding: 90px 8%;
    }
    .sobre .txt-sobre h2{
        font-size:34px;
        line-height:35px;
        text-align: center;
    }
    .btn-social{
        text-align: center;
    }
    .img-sobre img{
        width: 100%;
    }
    /* PORTFOLIO */
    section.portfolio{
        padding: 80px 8%;
        
    }
    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        height: 460px;
        
    
    }
    section.portfolio .flex{
        gap: 60px;
    }
    footer.flex{
        gap: 30px;
    }

}